<header class="header z-depth-1">
    <div class="center-align">
        <h1>Picsaver</h1>
    </div>
    <ul class="header__nav collection center-align">
        <li>
            <a
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{exact:true}"
            routerLinkActive="active"
            class="collection-item">
              Home
            </a>
        </li>
        <li>
          <a
          [routerLink]="['/new']"
          [routerLinkActiveOptions]="{exact:true}"
          routerLinkActive="active"
          class="collection-item">
            New picture
          </a>
        </li>
    </ul>
</header>
