<form #form class="row" (submit)="savePicture($event)">
  <br>
  <h4 class="center-align indigo-text">New picture!</h4>
  <br>
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="valign-wrapper">
      <div class="col s6">
        <app-picture-form-preview [picture]="picture"></app-picture-form-preview>
      </div>
      <div class="col s6">
        <div class="input-field col s6">
          <input
            #title
            id="title"
            name="title"
            type="text"
            class="validate"
            required
            [(ngModel)]="picture.title">
          <label for="title">Title</label>
        </div>
        <div class="input-field col s6">
          <input
            #image
            id="image"
            name="image"
            type="text"
            class="validate"
            required
            [(ngModel)]="picture.imageUrl">
          <label for="image">Image</label>
        </div>
        <div class="input-field col s12">
          <textarea
          #description
          id="description"
          name="description"
          class="materialize-textarea"
          required
          [(ngModel)]="picture.description"></textarea>
          <label for="description">Description</label>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn">save</button>
      </div>
    </div>
  </div>
</form>
