<div class="col s12 m6">
  <div class="card medium">

    <div class="card-image">
      <img src="{{picture.imageUrl}}">
      <span class="card-title">
        {{picture.title}}
      </span>
      <a [routerLink]="['/edit', picture.id]" class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">edit</i></a>
    </div>

    <div class="card-content">
      <p>
        {{picture.description}}
      </p>
    </div>

    <div class="card-action">
      <a href="{{picture.imageUrl}}" target="_blank">Ver Imagem</a>
    </div>

  </div>
</div>
